{% extends '1-column-layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">
                        {{ msg }}
                    </div>
                {% endfor %}
                <div>
                    <a href="{{ path('eccube_user_account_login') }}">Login</a> |
                    <a href="{{ path('eccube_user_account_register') }}">Register</a> |
                    <a href="{{ path('eccube_user_account_mypage') }}">My Page</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}